.banner {
    display: flex;
    height: 275px;
    width: 960px;
    margin: auto;
    border: 1px solid black;
}

a {
    display:contents;
    margin-left: auto;
    margin-right: auto;
}

.links {
    margin-top: 10px;
    text-align: center;
}

img {
    display: inline-flex;
    height: 180px;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    border: 1px solid black;
    margin: 1px;
}

.images {
    margin-top: 50px;
    margin-left: 17%;
}
